.navigation {
  display: flex;
  align-self: flex-start
}

@media (min-width:900px) {
  .container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
  }

  .navigation {
    align-self: flex-start;
    grid-column: 1/5;
  }

  .name {
    display: flex;
    color: azure;
    flex-grow: 4;
    font-size: 60px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }

  button {
    padding-bottom: 10px;
    color: aliceblue;
    background-color: black;
    border-radius: 30px;
  }
  .text1{
    font-size: x-large;
    grid-column: 1/4;
    color: azure;

  }
  img{
    width: 100%;
    height: 100%;
  }
  .text2{
    font-size: x-large;
    grid-column: 1/4;
    color: azure;
  }

  .down {
    padding-top: 40px;
    font-size: 30px;
    text-align: center;
    grid-column: 1/5;
    color: azure;
  }
}


@media (max-width:899px) {
  .container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 125px;
  }

  .container>div {
    border: 1px solid white;
  }

  .navigation {
    grid-column: 1/4;
  }

  .name {
    display: flex;
    color: azure;
    flex-grow: 4;
    align-self: center;
    font-size: 60px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  button {
    color: aliceblue;
    background-color: black;
    border-radius: 30px;
    display: flex;
    padding-bottom: 10px;
    justify-content: flex-end;
  }

  .text1{
    text-align: center;
    font-size: x-large;
    color: antiquewhite;
    grid-column: 1/4;
  }

  .image1{
    color: antiquewhite;
    grid-column: 2/3;
  }

  .text2{
    text-align: center;
    font-size: x-large;
    color: antiquewhite;
    grid-column: 1/4;
  }

  .image2{
    color: antiquewhite;
    grid-column: 2/3;
  }

  img{
    width: 100%;
    height: 100%;
  }

  .down{
    padding-top: 40px;
    font-size: 20px;
    text-align: center;
    grid-column: 1/5;
    color: azure;
  }
}

@media (max-width:756px) {
  .name {
    font-size: xxx-large
  }
}

@media (max-width: 505px){
  .text1{
    font-size: large;
  }

  .text2{
    font-size: large;
  }
}
